<!DOCTYPE html>
<html>
<% include meta.ejs %>
<body>
<% include nav.ejs %>
<center>
<img class="index" src="<%= process.env.pic %>"/>
<p class="title" style="color:white;">Flechaa Bot!</p>
</center>
  <div class="index">
    <a href="/invite" target="_blank"><button class="grow">Invite
      </button></a>
    <a href="/discord" target="_blank"><button class="grow">Discord
      </button></a>
    <a href="https://statuspage.freshping.io/10496-FlechaaBot" target="_blank"><button class="grow">Status
      </button></a>
    <br><br><br>
    <but class="grow">
    <iframe src="https://discordapp.com/widget?id=535542740138721294&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </but>
      </div>
</body>
</html>