<head>
  <title>Flechaa Bot</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0"/>
  <meta name="MobileOptimized" content="width">
  <link rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/5cd14449-e75f-4a5a-8d5c-6a371554e2f5%2Ffavicon.png?1555858556280"/>
  <meta property="og:site_name" content="Flechaa Bot" />
  <meta name="keywords" content="flechaa-bot,discord bot,discord,flechaa bot">
  <meta name="theme-color" content="#667eea">
  <meta name="og:title" content="Flechaa Bot"/>
  <meta data-react-helmet="true" property="og:description" content="Flechaa Bot is a bot for Discord!"/>
  <meta name="og:image" content="<%= process.env.pic %>"/>
</head>