<nav class="navbar navbar-expand-md bg-primary navbar-dark sticky-top">
  <!-- Brand -->
  <a class="navbar-brand" href="/">
    <img src="<%= process.env.pic %>" style="height: 35px; border-radius: 25%; width: 45px;">
    Flechaa Bot
  </a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/invite" target="_blank">Invite</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/discord" target="_blank">Discord</a>
      </li>
      <li class="nav-item disabled">
        <a class="nav-link" href="#">Status</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/leaderboard">Leaderboard</a>
      </li>
    </ul>
  </div>
</nav>
<br>